{% extends 'base.html.twig' %}

{% block title %}Gestion des chatons{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ nomDuDossier }}</h1>
        <div class="row">
            {% for f in filesInFolder %}
                <div class="col col-3">
                    <div class="card"><img src="{{ asset("/photos/"~nomDuDossier~"/"~f.fileName) }}" alt=""
                                           class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">{{ f.fileName }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>



{% endblock %}
