{% extends 'base.html.twig' %}

{% block title %}Gestion des chatons{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur la gestion des chatons</h1>

        Le dossier photos contient:
        <ul>
            {% for d in dossiers %}
                <li>
                    <a class="btn" href="{{ path("afficherDossier", {"nomDuDossier": d.filename}) }}">
                        {{ d.filename }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
